<%= form_for @question, :html => { :id => "commentform"}  do |f| %>
	<% if @question.errors.any? %>
		<div class="errors">
			<h2><%= pluralize(@question.errors.count, "error") %> prevented from saving the file</h2>
			<ul>
				<% @question.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p class="comment-form-comment">
		<%= f.label :question %> <span class="required">*</span>
		<%= f.text_area :question %>
	</p>
	<p>
		<%= f.submit id: 'button' %>
	</p>
<% end %>