<p class="title">
	<%= @question.question %>
</p>

<p class="date">
	Submitted <%= time_ago_in_words(@question.created_at) %> ago 
	<% if current_user %>
		<% if current_user.id == @user %>
			| <%= link_to "Edit", edit_question_path(@question) %> |
			<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %> |
			written by <%= link_to current_user.email, user_path(current_user) %>
		<% end %>
	<% end %>

</p>

<h2><%= @question.answers.count %> Responses</h2>
<%= render @question.answers %>

<h3>Add new Answer:</h3>
<%= render "answers/form" %>
