<!DOCTYPE html>
<html>
<head>
  <title>Altur</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "imagehere.jpg" %>
		<% end %>
	</div>

	<ul>
		<li class="category"><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
	</ul>

	<p class = "signin">Sign in</p>
	
	<div class="buttons">
			<%= link_to "New question", new_question_path %>
			<button class="button">Log out</button>
	</div>

	<% if current_page?(root_path) %>
    	<p>All Questions</p>
  <% elsif current_page?(about_path) %>
    	<p>About</p>
  <% else %>
    	<%= link_to "Back to All Questions", root_path %>
  <% end %>
	
</div>

<%= yield %>


</body>
</html>
