<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Altur</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
  <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
  <![endif]-->
  <!--[if IE 9]>
  	<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
  <![endif]-->



</head>

<body>

<div class="scanlines"></div>


<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <%= link_to root_path do %>
				Altur
			<% end %>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
					<% if user_signed_in? %>
						<li><%= link_to "New question", new_question_path %></li>
						<li><%= link_to 'My Questions', user_path(current_user) %></li>
						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
					<% else %>
						<li><%= link_to('Login', new_user_session_path)  %></li>
						<li> or </li>
						<li><%= link_to('Signup', new_user_registration_path) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<%= yield %>



</body>
</html>
